doctype html
html(lang='ru')

  head
    meta(charset='utf-8')

    block title
      title Тут ничего нет

    meta(name='description' content='Заярный Я.А. - Резюме')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='format-detection' content='telephone=no')
    meta(name='theme-color' content='#2c39f2')
    link(href='css/style.min.css' rel='stylesheet')

  body

    div(class='nothing')
      div(class='nothing__text') 404 :(

    script(src='js/script.min.js')
