section(class='resume')
  h1(class='visually-hidden') Резюме - Заярный Я.А.
  aside(class='resume__col-one')
    div(class='resume__container')
      div(class='resume__avatar')
        picture
          source(type='image/webp' srcset='img/face.webp')
          img(src='img/face.jpg' alt='Заярный Я.А.')
      p(class='resume__name') Заярный
      p(class='resume__surname') Ярослав
      h2(class='resume__title') Контакты
      ul(class='resume__contact-list')
        li(class='resume__contact-item')
          a(class='resume__contact-link resume__contact-link--phone' href='tel:+79191122914' aria-label='Телефон для связи' target='_blank') +7 919 112 29 14
        li(class='resume__contact-item')
          a(class='resume__contact-link resume__contact-link--mail' aria-label='Почта для связи') zayarnyy74@gmail.com
        li(class='resume__contact-item')
          a(class='resume__contact-link resume__contact-link--loc') Челябинск, Россия
      h2(class='resume__title') Языки
      ul(class='resume__list')
        li(class='resume__item')
          p(class='resume__text') Русский - родной
        li(class='resume__item')
          p(class='resume__text') English - Upper-Intermediate (B2)
      h2(class='resume__title') Навыки
      ul(class='resume__skills-list')
        li(class='resume__skills-item')
          | JavaScript ES6
          div(class='resume__bar resume__bar--l')
        li(class='resume__skills-item')
          | HTML5
          div(class='resume__bar resume__bar--xxl')
        li(class='resume__skills-item')
          | CSS3
          div(class='resume__bar resume__bar--xl')
        li(class='resume__skills-item')
          | GULP, PUG, SCSS, TOOLS
          div(class='resume__bar resume__bar--l')
  main(class='resume__col-two')
    div(class='resume__container')
      h2(class='resume__title') О себе
      p(class='resume__text')
        | Верстаю сайты кроссбраузерно, адаптивно и семантично.
        | Изучаю front-end разработку в свободное время. Слежу за новостями индустрии и
        | интересуюсь, чем занимается front-end сообщество. Люблю Internet Explorer.
        | Помогаю с чай-брейками.
      h2(class='resume__title') Образование
      ul(class='resume__list')
        li(class='resume__item')
          div(class='resume__origin')
            a(class='resume__origin-link' href='https://www.susu.ru/ru' target='_blank') ЮУрГУ
            p(class='resume__origin-text') 2008-2012
          p(class='resume__origin-text') Энергетический факультет. Специалист. Теплоэнергетика.
        li(class='resume__item')
          div(class='resume__origin')
            a(class='resume__origin-link' href='http://learn.javascript.ru/' target='_blank') Learn.javascript.ru
            p(class='resume__origin-text') 04.2019 (2 месяцa)
          p(class='resume__origin-text') JavaScript. DOM. Interface.
        li(class='resume__item')
          div(class='resume__origin')
            a(class='resume__origin-link' href='https://htmlacademy.ru/profession/frontender' target='_blank') HTML Academy
            p(class='resume__origin-text') 06.2019 (5 месяцев)
          p(class='resume__origin-text') Front-end developer
      h2(class='resume__title') Портфолио
      ul(class='resume__list')
        li(class='resume__item')
          div(class='resume__origin')
            a(class='resume__origin-link' href='https://yaz47.github.io/794285-mishka-17/index.html' target='_blank') Мишка - магазин рукоделия
          p(class='resume__origin-text') Макет интернет-магазина
        li(class='resume__item')
          div(class='resume__origin')
            a(class='resume__origin-link' href='https://yaz47.github.io/794285-pognali-17/index.html' target='_blank') Погнали - сервис для путешественников
          p(class='resume__origin-text') Макет веб-приложения
        li(class='resume__item')
          div(class='resume__origin')
            a(class='resume__origin-link' href='https://yaz47.github.io/testDETask/index.html' target='_blank') Dakota Jhonson - photography
          p(class='resume__origin-text') Макет сайта-портфолио
        li(class='resume__item')
          div(class='resume__origin')
            a(class='resume__origin-link' href='https://yaz47.github.io/794285-keksobooking-18/index.html' target='_blank') Кексобукинг - места в Токио
          p(class='resume__origin-text') Макет веб-приложения с JS функционалом
