.resume {
  position: relative;
  display: flex;
  width: 750px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 25px 0;

  font: $text-default;
  color: $black;

  border: 10px solid $bright-blue;
  border-radius: 5px;
  background-color: $white;
}

.resume__col-one {
  width: 35%;
  border-right: 3px solid $bright-blue;
}

.resume__col-two {
  width: 65%;
}

.resume__container {
  position: relative;
  margin: 0 25px;

  text-align: center;
}

.resume__avatar {
  @include imgContainer();

  width: 125px;
  height: 125px;
  margin: 15px auto 40px;

  border-radius: 50%;

  box-shadow:
    0 0 0 10px $white,
    0 0 0 13px $bright-blue;
  overflow: hidden;

  &:hover {
    box-shadow:
      0 0 0 10px $white,
      0 0 0 13px $red;
  }
}

.resume__name {
  position: relative;
  margin: 0;
  padding: 0 45px;

  font: $text-name;
  color: $red;
  text-align: center;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 3px;

    background-color: $bright-blue;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.resume__surname {
  margin: 0;
  padding: 0 10px;

  font: $text-surname;
  text-align: center;
  text-transform: uppercase;
}

.resume__title {
  position: relative;
  display: inline-block;
  min-width: 150px;
  margin: 30px 0;
  padding: 0 20px;

  font: $text-title;
  color: $bright-blue;
  text-align: center;
  text-transform: uppercase;

  border: 3px solid $bright-blue;

  &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: -3px;

    border-top: 5px solid $bright-blue;
    border-right: 10px solid $bright-blue;
    border-bottom: 5px solid transparent;
    border-left: 10px solid transparent;

    transform: translateY(100%);
  }
}

.resume__contact-list {
  text-align: left;
}

.resume__contact-link {
  @include defaultHoverEffect();

  position: relative;
  display: inline-block;
  padding-left: 20px;

  color: $red;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 15px;

    transform: translateY(-50%);
  }

  &--phone {

    &::before {
      background: top 4px left 2px / 15px 15px no-repeat url("../img/phone.svg");
    }
  }

  &--mail {

    &::before {
      background: top 0 left 0 / 15px 15px no-repeat url("../img/envelope.svg");
    }
  }

  &--loc {

    &::before {
      background: top 0 left 0 / 15px 15px no-repeat url("../img/location.svg");
    }
  }
}

.resume__item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;
    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: $bright-blue;
  }
}

.resume__text {
  margin: 0;
  padding: 0;

  text-indent: 1em;
  text-align: left;
}

.resume__skills-item {
  margin-bottom: 10px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.resume__bar {
  position: relative;
  width: 100%;
  height: 12px;

  border: 3px solid $bright-blue;
  background-color: $grey-blue;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    background-color: $red;
  }

  &--s {

    &::after {
      width: 20%;
    }
  }

  &--m {

    &::after {
      width: 40%;
    }
  }

  &--l {

    &::after {
      width: 60%;
    }
  }

  &--xl {

    &::after {
      width: 80%;
    }
  }

  &--xxl {

    &::after {
      width: 100%;
    }
  }
}

.resume__origin {
  display: flex;
  flex-flow: row wrap;
}

.resume__origin-link {
  @include defaultHoverEffect();

  display: block;
  margin-right: auto;

  color: $red;
}

.resume__origin-text {
  margin: 0 0 0 20px;
  padding: 0;

  text-align: left;
}
